{
  "extends": ["next", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react","@typescript-eslint"],
  "rules": {
    "@next/next/no-img-element": "off",
    "indent": "off",
    "react/prop-types": "off",
    "react/jsx-indent": "off",
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "global-require": "off",
    "no-console": "off",
    "no-undef": "off",
    "no-multi-assign": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/camelcase": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [1,{ "argsIgnorePattern": "^\\w" }],
    "react/react-in-jsx-scope": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/accessible-emoji": "off",
    "no-param-reassign": "off",
    "import/newline-after-import": ["warn", { "count": 1 }],
    "react/button-has-type": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": ["warn", {}],
    "prefer-destructuring": "off",
    "spaced-comment" : "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-danger": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-wrap-multilines": "off",
    "react/destructuring-assignment": "off",
    "no-plusplus": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "no-return-await": "off",
    "import/no-named-default": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "no-nested-ternary": "off",
    "no-restricted-syntax": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-return-assign": "off",
    "no-empty-pattern": "off",
    "react/jsx-no-bind": "off"
  }
}
